@model List<Kitap>

@if(TempData["basarili"] != null)
{
    <div class="alert alert-success">
        @TempData["basarili"]
    </div>
}

<div>
    <div class="row-cols-md-1 pt-3 pb-4">
        <div>
        </div>
        <h1>Kitaplar</h1>
    </div>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>KitapAdi</th>
            <th>Tanim</th>
            <th>Yazar</th>
            <th>Fiyat</th>
            <th>Kitap Türü</th>

            <th></th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var Kitap in Model)
        {
            <tr>
                <td>@Kitap.Id</td>
                <td>@Kitap.KitapAdi</td>
                <td>@Kitap.Tanim</td>
                <td>@Kitap.Yazar</td>
                <td>@Kitap.Fiyat</td>
                <td></td>

                <td><a asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@Kitap.Id" type="button" style="width:80px" class="btn btn-warning">Güncelle</a> </td>

                <td><a asp-controller="Kitap" asp-action="Sil" asp-route-id="@Kitap.Id" type="button" style="width:80px" class="btn btn-danger">Sil</a></td>
                
            </tr>
        }
    </tbody>

</table>

<div class="row pt-3 pb-2">
    <div>
        <a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">Yeni Kitap Oluştur</a>
    </div>
</div>
</div>
